
ul.dropdown                         { position: relative;list-style:none;padding: 0;margin: 0;}
ul.dropdown li                      { font-weight: bold; float: right; list-style:none;   }
ul.dropdown a:hover		            { color: #000;text-decoration:none; }
ul.dropdown a:active                { color: #ffa500;text-decoration:none; }
ul.dropdown li a                    { display: block; padding:0px; 
	 								  color: #222;text-decoration:none; }
ul.dropdown li:last-child a         { border-right: none;text-decoration:none; } /* Doesn't work in IE */
ul.dropdown li.hover,
ul.dropdown li:hover                {  color: black; position: relative;text-decoration:none; }
ul.dropdown li.hover a              { color: black;text-decoration:none; }


/* 
	LEVEL TWO
*/
ul.dropdown ul 						{ width: 120px; visibility: hidden; position: absolute; top: 100%; right: 0;list-style:none; }
ul.dropdown ul li 					{ font-weight: normal; background: #0299D5; color: #000; 
									   float: none;list-style:none;padding:3px; border-bottom: 1px solid #ccc; font-size:12px;font-family:Tahoma;
									  
									  
									   }
									  
                                    /* IE 6 & 7 Needs Inline Block */
ul.dropdown ul li a					{ border-right: none; width: 100%; display: inline-block;text-align:right;padding-left: 0px; } 

/* 
	LEVEL THREE
*/
ul.dropdown ul ul 					{ right: 100%; top: 0; list-style:none;}
ul.dropdown li:hover > ul 			{ visibility: visible; list-style:none;}

.top_link {display:block;  color:#FFF; text-decoration:none; font-size:16px; font-weight:bold;  cursor:pointer; background:url(../images/top-mnu/sprtor_03.png) center top no-repeat ; margin-left:8px ; margin-right:8px}

ul.dropdown li a.top_link {
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
   
    text-decoration: none;
	
}






ul.dropdown li a.top_link:hover {
    color: #2C3137;
}
